<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include('./partials/_navbar.ejs')%>

    <%if(user && user.role==='admin'){%>

    <h1>Welcome to the Department Projects Tracker</h1>
    <h2><a href="/authentications/create-account">Create Account</a></h2>
    <h2><a href="/departments/create-department">Create Department</a></h2>

    <%}if(user&&user.role==='chief'){%>

    <h2><a href="/projects/create-project">Create project</a></h2>
        <h2><a href="/projects/view-all-projects">View All Projects</a></h2>

    <%}if(user&&user.role==='employee'){%>
    <h2><a href="/projects/view-all-projects">View My Projects</a></h2>
    <%}if(!user){%>

    <h1>Welcome to the Department Projects Tracker</h1>

    <%}%>


</body>
</html>