<h1>Create a new account</h1>
<form method="POST" action="/authentications/create-account">
  <label for="username">Username</label>
  <input type="text" name="username" id="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password">
  <br>
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" id="confirmPassword">
  <br>
  <label for="role">Role</label>
  <input type="text" name="role" id="role">
  <br>
  <label for="department">Department</label>
  <input type="text" name="department" id="department">
<br>
  <button type="submit">Create Account</button>
</form>